venv/
ENV/
env/
.venv/
.ENV/
.env/
.env.*


*.py[cod]
__pycache__/
*.pyo
*.pyd


.idea/
.vscode/
*.sublime-workspace
*.sublime-project


*.log
*.out
*.err


*.swp
*.bak
*.tmp
*.temp
*~


.pytest_cache/
htmlcov/
.cache/


.coverage
*.cover
coverage.xml
*.lcov


.ipynb_checkpoints/


dist/
build/
*.egg-info/
.eggs/


*.whl
*.egg


*.env
docker-compose.override.yml


.DS_Store
