# Diretórios e arquivos do ambiente virtual
venv/
ENV/
env/
.venv/
.ENV/
.env/
.env.*

# Arquivos de configuração do Python
*.py[cod]
__pycache__/
*.pyo
*.pyd

# Configuração do IDE e editor
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Logs e informações de debug
*.log
*.out
*.err

# Arquivos temporários e backups
*.swp
*.bak
*.tmp
*.temp
*~

# Dados gerados por pytest
.pytest_cache/
htmlcov/
.cache/

# Dados de cobertura de testes
.coverage
*.cover
coverage.xml
*.lcov

# Dados gerados pelo Jupyter Notebook
.ipynb_checkpoints/

# Dependências e pacotes gerados
dist/
build/
*.egg-info/
.eggs/

# Arquivos de pacotes Python
*.whl
*.egg

# Arquivos relacionados ao Docker
*.env
docker-compose.override.yml

# Arquivos relacionados a macOS
.DS_Store
